# Ignore everything in this directory
.idea/*
__*
.idea/
# Except this file
!.gitignore
blog/migrations/*
account/migrations/*
project/migrations/*
project/engine/*
project/static/*
#cache
D:\PythonProject\image_searcher\image_searcher\__pycache__\*
D:\PythonProject\image_searcher\.idea/*