# Ignore everything in this directory
.idea/*
image/static/*
__*
.idea/
# Except this file
!.gitignore
image/migrations/*
image/engine/*
#cache
D:\PythonProject\image_searcher\image_searcher\__pycache__\*
D:\PythonProject\image_searcher\.idea/*