{% extends "project/layout.html" %}
{% load static %}
{% block head %}
    <style type="text/css">
        div.backLayer {
            display:none;
            background-color:black;
            position:absolute;
            opacity:0.3;
            left:0;
            top:0;
            z-index: 99;
        }
    </style>
    <script>
        $(document).ready(function(){
            $( "#loading" ).click(function() {
                $("#loading").text("학습 중")
                $("#loading").removeClass('btn btn-primary').addClass('btn btn-danger');
                console.log("click");
                $.ajax("{% url "project:train" project.id %}", {
                    method: 'POST',
                    beforeSend: function(){
                        $('#loading').attr("disabled", true);
                    },
                    success: function (res) {
                        $("#loading").text("학습 하기")
                        $("#loading").removeClass('btn btn-danger').addClass('btn btn-primary');
                        console.log(res);
                        if(res.result == 2) {
                            $('#pretrained').modal('toggle');
                            $(".backLayer").hide();
                        }
                        else{
                            $('#trainDone').modal('toggle');
                            $(".backLayer").hide();
                        }
                    },
                    complete:function(xhr, settings) {
                        $('#loading').removeAttr("disabled");
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="backLayer" style=""></div>
    <div class="container">
        <div class="jumbotron">
            <h1><strong>IMAGE SEARCH ENGINE</strong> <sup>by KTh</sup></h1>
            <p>여러분을 대신해서 찾아드리겠습니다.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#">
                    API 문서 확인하기 &raquo;
                </a>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-dismissible alert-danger">
                    <ul>
                        <li> <strong>IMAGE SEARCH ENGINE </strong> 만의 보다 차별화된 서비스를 이용해보세요.</li>
                        <li>누구나 손쉽게 나만의 <strong>Image Search Engine</strong>을 가질 수 있습니다.</li>
                        <li>개발자가 아니여도 쉽게 서비스 할 수 있습니다.</li>
                    </ul>
                </div>
                <p>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2"></div>
                <div class="col-xs-2"></div>
                <div class="col-xs-1"><button id="loading"  class="btn btn-primary">학습 하기</button></div>
                <div class="col-xs-1" ><a href="{% url "project:display_prediction" project.id %}" class="btn btn-primary">추론 하기</a></div>
                </p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        <button type="button" data-toggle="modal" data-target="#myModal"><img src="{% static "project/bin_project.JPG" %}" width="100%" height="280" style = "position: relative;"/></button>
                        <div class="project-title ng-binding" align="center" style="position: absolute; left: 7%; bottom: 1.5%; color:white; font-size: 34px;
                        width: 87% ;font-weight: bold;opacity: 1; filter: alpha(opacity=10);background-color: rgba(50, 50, 50, 0.3)">LABEL 추가</div>
                    </div><!--/.col-xs-3-->
                    {% for label in label_list %}
                        <div class="col-xs-3">
                            <a href="{% url "project:detail_label" l_id=label.id p_id=project.id %}">
                                {% if label.img %}
                                    <img src="{{ label.img }}" width="100%" height="300"/>
                                {% else %}
                                    <img src="{% static "project/empty.JPG" %}" width="100%" height="300"/>
                                {% endif %}
                            </a>
                            <div class="project-title ng-binding" align="center" style="position: absolute;left: 5%; color:white; bottom: 0;font-size: 34px;
                            width: 90% ;font-weight: bold;opacity: 1; filter: alpha(opacity=10);background-color: rgba(50, 50, 50, 0.3)">{{ label.label }}</div>
                        </div><!--/.col-xs-3-->
                    {% endfor %}
                </div><!--/row-->
            </div><!--/.container-fluid-->

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">CREATE LABEL</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-dismissible alert-success"><h1><strong>CREATE LABEL</strong></h1></div>
                            <form method="POST" enctype=multipart/form-data class="post-form" action="{% url "project:create_label" project.id %}">{% csrf_token %}
                                <div class="form-group has-success">
                                    <label class="control-label" for="inputSuccess">LABEL</label>
                                    <input class="form-control" name="label_name" type="text">
                                </div>
                                <div class="form-group has-success">
                                    <label class="control-label" for="inputSuccess">DESCRIPTION(Optional)</label>
                                    <input class="form-control" name="description" type="text">
                                </div>
                                <div class="form-group has-success">
                                    <button class="btn btn-primary" style="position: absolute; cursor: pointer; border-radius: 3px;">FILE UPLOAD</button>
                                    <input type=file style="opacity: 0; position: relative;" name=image value="FILE UPLOAD">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="save btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="pretrained" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">TRAIN</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-dismissible alert-success">
                                <h1><strong>이미 학습된 모델입니다.</strong></h1>
                                <li>새로운 LABEL이나 사진을 추가해 보세요.</li>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="trainDone" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">TRAIN</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-dismissible alert-success">
                                <h1><strong>학습 완료</strong></h1>
                                <li>지금 바로 테스트 해보세요.</li>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
{% endblock %}

